<div class="nav">
  <ul>
      <li><a href="#"><i class="fa fa-bar-chart" style="font-size:24px"></i> Overall Summary</a></li>
      <li><a href="#"><i class="fa fa-clipboard" style="font-size:24px"></i>Detailed View</a></li>
      <li><a href="#"><i class="fa fa-list" style="font-size:24px"></i>Create Action Plan</a></li>
      <li><a href="#"><i class="fa fa-file" style="font-size:24px"></i>Qualitative Feedback</a></li>
      <!--<li><button type="button" class="btn btn-primary">Primary</button></li> -->
    </ul>

</div>