<div class="table">
  <tr>
    <th></th>
    <th>Client Centricity</th>
    <th>Execution Excellence</th>
    <th>Collaborative Working</th>
    <th>Nurturing People</th>
    <th>Passion for Results</th>
    <th>Strategic Perspective</th>
    <th>Leading Change</th>
  </tr>
  <tr>
    <td>Manager</td>
    <td>Griffin</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
  </tr>
  <tr>
      <td>Co Worker (Peer)</td>
      <td>Griffin</td>
      <td>$100</td>
      <td>$100</td>
      <td>$100</td>
      <td>$100</td>
      <td>$100</td>
      <td>$100</td>
  </tr>
  <tr>
      <td>Internal Customer</td>
      <td>Griffin</td>
      <td>$100</td>
      <td>$100</td>
      <td>$100</td>
      <td>$100</td>
      <td>$100</td>
      <td>$100</td>
  </tr>
  <tr>
      <td>External Customer</td>
      <td>Griffin</td>
      <td>$100</td>
      <td>$100</td>
      <td>$100</td>
      <td>$100</td>
      <td>$100</td>
      <td>$100</td>
</tr>
<tr>
    <td>Reportee</td>
    <td>Griffin</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
</tr>
</div>