<!--The content below is only a placeholder and can be replaced.-->


<header class="page-heading">



</header>
<app-banner></app-banner>
<app-navbar></app-navbar>


<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home">
	Home
  </div>
  <div class="tab-pane" id="Details">
	<app-ratings></app-ratings>
	<app-strengths></app-strengths>
	<app-table></app-table>
  </div>
  <div class="tab-pane" id="Create">
	Create
  </div>
  <div class="tab-pane" id="Qual">
	Quality
  </div>
</div>






